/**
 * @file
 * Header styles
 *
 */

.nist-header {
  background: white;
  position: relative;
  z-index: 200;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.nist-header *,
.nist-header *:before,
.nist-header *:after {
  box-sizing: inherit;
}

.nist-header__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-right: 16px;
  padding-right: 1rem;
  padding-left: 16px;
  padding-left: 1rem;
}

.nist-header__logo {
  display: inline-block;
  padding: 32px 0px 32px 0px;
  padding: 2rem 0rem 2rem 0rem;
}

@media (max-width: 679px) {
  .nist-header__logo {
    padding: 30.4px 0px 30.4px 0px;
    padding: 1.9rem 0rem 1.9rem 0rem;
    margin-left: -3.2px;
    margin-left: -0.2rem;
  }
}

.nist-header__logo a img {
  width: 289px;
}

.nist-header__logo-link {
  display: block;
}

.nist-header__inner {
  position: relative;
}

.nist-header--bar .nist-header__inner {
  max-width: 1200px;
}

.nist-header--bar .nist-header__logo {
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 100;
  padding: 0;
  margin: 0;
  width: 110px;
  height: 30px;
}

.nist-header--bar .nist-header__logo a {
  outline: 0;
}

.nist-header--bar .nist-header__logo a img {
  width: 110px;
  height: 30px;
}

/**
 * Navigation bar.
 */
.nist-header__nav-wrapper {
  background: black;
  -moz-box-shadow: rgba(0, 0, 0, 0.36) 0 2px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0 2px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.36) 0 2px 10px 0;
  z-index: 10;
  position: relative;
}

@media (min-width: 1200px) {
  .nist-header__nav-wrapper {
    height: 58px;
  }
}

.nist-header__nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  position: relative;
}

/**
 * Menu toggle
 */
.nist-header__nav-toggle-wrapper {
  display: block;
  padding-bottom: 54px;
}

@media (min-width: 1200px) {
  .nist-header--standard .nist-header__nav-toggle-wrapper {
    display: none;
  }
}

@media (min-width: 560px) {
  .nist-header__nav-toggle-wrapper {
    padding-bottom: 0;
  }
}

a.nist-header__nav-toggle {
  float: right;
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  /* Don't resize responsively */
  padding-left: 11.2px;
  padding-left: 0.7rem;
  padding-right: 11.2px;
  padding-right: 0.7rem;
  margin: 10px 10px 10px 20px;
  text-transform: uppercase;
  height: 38px;
  line-height: 38px;
  display: block;
  transition: color 300ms ease;
  background: #595959;
  text-decoration: none;
}

a.nist-header__nav-toggle:hover, a.nist-header__nav-toggle:focus {
  color: black;
  background: white;
  text-decoration: none;
  outline: 0;
}

/* Menus - global styling */
.nist-menu__item {
  list-style: none;
}

.nist-menu__link {
  text-decoration: none;
}

/**
  * Main menu
  */
.nist-header__nav-inner {
  position: relative;
  display: none;
}

@media (min-width: 1200px) {
  .nist-header--bar .nist-header__nav-inner {
    width: 80%;
    position: absolute;
    right: 0;
    top: 58px;
    background: black;
  }

  .nist-header--standard .nist-header__nav-inner {
    display: block;
  }

}

.nist-header__nav-inner a {
  color: white;
}

.nist-header__nav-inner a:focus {
  outline: 0;
}

.nist-header__nav-inner .nist-menu {
  margin: 0;
  padding: 0;
}

.nist-header__nav-inner li a {
  color: white;
}

.nist-header__nav-inner li a:hover, .nist-header__nav-inner li a:focus {
  background: transparent;
  color: #b3b3b3;
  text-decoration: none;
}

.nist-header__nav-inner li a:focus {
  color: #f5c636;
}

.nist-header__nav-inner li a.is-active-trail {
  color: #f5c636;
}

.nist-header__nav-inner li.nist-menu__item--depth-1 {
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  list-style: none;
  border-right: 0;
}

@media (min-width: 1200px) {
  .nist-header--standard .nist-header__nav-inner li.nist-menu__item--depth-1 {
    float: left;
    clear: none;
  }
}

.nist-header__nav-inner li.nist-menu__item--depth-1 > a {
  position: relative;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20.8px;
  /* We don't want this to scale responsively */
  padding: 12.8px 16px;
  padding: 0.8rem 1rem;
  transition: color 300ms ease;
  border-bottom: 1px solid #333333;
}

.nist-header--standard .nist-header__nav-inner li.nist-menu__item--depth-1 > a {
  border-bottom: none;
}

.nist-header__nav-inner li.nist-menu__item--depth-1:first-of-type {
  border-top: 1px solid #595959;
}

.nist-header__nav-inner li.nist-menu__item--depth-1.is-expanded li {
  border: none;
}

.nist-header__nav-inner li.nist-menu__item--depth-1.is-expanded li a.nist-menu__link {
  display: block;
  width: 100%;
  border: none;
}

.nist-header__nav-inner .nist-menu__submenu {
  position: relative;
  display: none;
}

@media (min-width: 1200px) {
  .nist-header--standard .nist-header__nav-inner .nist-menu__submenu {
    position: absolute;
    left: -1000em;
    display: block;
  }

  .nist-header--standard li.nist-menu__item--depth-1:hover .nist-menu__submenu {
    left: 0;
    display: block !important;
    width: 100%;
  }

  .nist-header--standard li.nist-menu__item--depth-1:hover .nist-menu__submenu.has-one-column {
    left: auto;
    width: auto;
  }
}

.nist-header__nav-inner .nist-menu__close {
  display: none;
}

.nist-header__nav-inner li.nist-menu__item--depth-2 {
  float: none;
  border-right: 0;
  margin-bottom: 9.6px;
  margin-bottom: 0.6rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  padding-left: 11.2px;
  padding-left: 0.7rem;
  display: block;
  list-style: none;
  margin-left: 0;
}

.nist-header__nav-inner li.nist-menu__item--depth-2:before {
  content: none;
}

.nist-header__nav-inner li.nist-menu__item--depth-2:first-of-type {
  border-top: 0;
}

.nist-header__nav-inner li.nist-menu__item--depth-2:last-of-type {
  border-bottom: 0;
}

.nist-header__nav-inner li.nist-menu__item--depth-2 > a {
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
  transition: color 300ms ease;
}

.nist-header__nav-inner li.nist-menu__item--depth-3 {
  border: 0;
  margin-bottom: 0;
  padding: 8px 12.8px;
  padding: 0.5rem 0.8rem;
  line-height: 1.2;
  margin-left: 0;
  list-style: none;
}

.nist-header__nav-inner li.nist-menu__item--depth-3:before {
  content: none;
}

.nist-header__nav-inner li.nist-menu__item--depth-3 > a {
  font-weight: 400;
  text-transform: none;
  transition: color 300ms ease;
}

.nist-header__nav-inner .nist-menu__column-container {
  background: #333333;
  margin: 0;
  padding: 27.2px 27.2px;
  padding: 1.7rem 1.7rem;
  position: static;
  float: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 680px) {
  .nist-header__nav-inner .nist-menu__column-container:after {
    content: "";
    display: table;
    clear: both;
  }

  .nist-header__nav-inner .nist-menu__column-container.has-two-columns .nist-menu__column {
    -sgs-span-settings: ("span": 6, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 48.57143%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.85714%;
  }

  .nist-header__nav-inner .nist-menu__column-container.has-two-columns .nist-menu__column:nth-of-type(2) {
    -sgs-span-settings: ("span": 6, "location": 7, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 48.57143%;
    clear: right;
    float: right;
    margin-right: 0;
  }

  .nist-header__nav-inner .nist-menu__column-container.has-three-columns .nist-menu__column {
    -sgs-span-settings: ("span": 4, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 31.42857%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.85714%;
  }

  .nist-header__nav-inner .nist-menu__column-container.has-three-columns .nist-menu__column:nth-of-type(3) {
    -sgs-span-settings: ("span": 4, "location": 9, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 31.42857%;
    clear: right;
    float: right;
    margin-right: 0;
  }

  .nist-header__nav-inner .nist-menu__column-container.has-four-columns .nist-menu__column {
    -sgs-span-settings: ("span": 3, "location": 1, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 22.85714%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.85714%;
  }

  .nist-header__nav-inner .nist-menu__column-container.has-four-columns .nist-menu__column:nth-of-type(4) {
    -sgs-span-settings: ("span": 3, "location": 10, "grid": 12, "gutter": 0.5, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 22.85714%;
    clear: right;
    float: right;
    margin-right: 0;
  }
}

.nist-header__nav-inner .expander {
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  text-align: center;
}

@media (min-width: 1200px) {
  .nist-header--standard .expander {
    display: none;
  }
}

.nist-header__nav-inner .expander:hover {
  background: #333333;
}

.nist-header__nav-inner .expander:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  text-align: center;
  margin-top: -15px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-size: 0.8em;
}

/**
  * Search
  */

.nist-header__search {
  position: absolute;
  z-index: 100;
  margin-bottom: 0;
  width: 100%;
  background: #333333;
  top: 54px;
  left: 0;
  right: auto;
}

.nist-header--standard .nist-header__search {
  top: 160px;
}

@media (min-width: 560px) {
  .nist-header__search {
    float: right;
    clear: none;
    width: auto;
    background: none;
    top: 0;
    left: auto;
    right: 140px;
  }

  .nist-header--standard .nist-header__search {
    float: none;
    clear: none;
    width: auto;
    background: none;
    top: 108px;
    left: auto;
    right: 140px;
  }
}

@media (min-width: 1200px) {
  .nist-header--standard .nist-header__search {
    position: absolute;
    top: 26px;
    right: 10px;
  }
}

.nist-header__search input[type=submit] {
  display: none;
}

.nist-header__search form {
  position: relative;
}

.nist-header__search form .form-item {
  display: block;
  margin: 0;
}

.nist-header__search button {
  position: absolute;
  background: none;
  color: black;
  right: 20px;
  top: -1px;
  padding: 0;
  margin: 0;
  line-height: 40px;
  height: 40px;
  font-size: 19.2px;
  font-size: 1.2rem;
}

.nist-header__search button:hover {
  color: #f5c636;
}

.nist-header__search input[type=text] {
  margin: 10px;
  padding-right: 36px;
  color: white;
  background: none;
  border: none;
  font-size: 17.6px;
  font-size: 1.1rem;
  height: 38px;
  width: 280px;
  text-align: left;
  background: #333333;
}

.nist-header__search input[type=text] {
  background: #333333;
  border: none;
  color: white;
}

@media (min-width: 1200px) {
  .nist-header--standard .nist-header__search input[type=text] {
    background: #ffffff;
    border: 1px solid;
    border-color: #d9d9d9;
    color: #000;
  }
}

.nist-header__search input[type=text]:focus {
  box-shadow: none;
  outline-offset: 0;
}

@media (min-width: 560px) {
  .nist-header__search input[type=text] {
    text-align: right;
    margin-left: 100px;
    width: 280px;
  }
}

.nist-header__search button[type=submit] {
  line-height: 58px;
  height: 58px;
  border: 0;
}

.nist-header__search button[type=submit] {
  color: white;
}

@media (min-width: 1200px) {
  .nist-header--standard .nist-header__search button[type=submit] {
    color: #000;
  }
}

/* Limit main content area width */
.nist-main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-right: 16px;
  padding-right: 1rem;
  padding-left: 16px;
  padding-left: 1rem;
}

/* Utility classes */
.nist-header .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.nist-header .element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Make sure body has no margin or padding when using only this header component */
body {
  padding: 0;
  margin: 0;
}
