/**
 * @file
 * Header styles
 *
 */

.nist-header {
  background: #000;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 10px 16px 0;
  font-size: 16px;
}

.nist-header *,
.nist-header *:before,
.nist-header *:after {
  box-sizing: inherit;
}

/* Utility classes */
.nist-header:after {
  content: "";
  display: table;
  clear: both;
}

.nist-header__logo-link {
  display: block;
  float: left;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-image: url('../images/nist_logo_mark_rev.svg');
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

.nist-header__links {
  clear: both;
}

.nist-header__links a {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 10px;
  font-size: .8em;
  padding: 0 .5em;
  line-height: 28px;
  border: 1px solid #999;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
}

.nist-header__links a:hover,
.nist-header__links a:focus {
  background-color: #444;
}

.nist-header__logo svg {
  fill: #fff;
}

/* Wider screens */
@media (min-width: 500px) {

  .nist-header__links {
    float: right;
    clear: none;
  }

}

@media (min-width: 800px) {

  .nist-header__links a {
    margin-left: 4px;
    margin-right: 0;
    font-size: 1em;
    line-height: 38px;
  }

  .nist-header__logo-link {
    width: 290px;
    height: 40px;
    background-image: url('../images/nist_logo_sidestack_rev.svg');
  }

}

/* Limit main content area width */
.nist-main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 16px;
  box-sizing: border-box;
}

/* Make sure body has no margin or padding when using only this header component */
body {
  padding: 0;
  margin: 0;
}
